.tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    @media (max-width:400px) {
        height: 18px;
        flex-wrap: nowrap;
    }
}

.tag {
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 1em;
    display: inline-block;
    height: 23px;
    top: 705px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: center;

    @media (max-width:400px) {
            font-size: 10px;
            font-weight: 700;
            line-height: 14.26px;
            text-align: center;
            height: 14px;

        }
}