.tags-container {
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;        
}

.tag {
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: 14px;
    display: inline-block;
}
