.collapse-container-logement {

    .collapse-button-logement {
        background-color: #FF6060;
        color: white;
        border: none;
        width: 582px;
        height: 52px;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        margin: 0% 0% 0% 22%;
        font-size: 18px;
        font-weight: 700;

        &:focus {
            outline: none;
        }

        .arrow {
            transition: transform 0.3s ease;
        }

        .arrow-up {
            transform: rotate(-180deg);
        }
    }

    .collapse-content-logement {
        padding: 10px;
        background-color: #F6F6F673;
        border-radius: 0.5em;
        margin: 1% 0% 1% 22%;
        width: 95%;

        p {
            font-size: 20px;
            font-weight: 400;
        }

        ul {
            li {
            font-size: 20px;
            font-weight: 400;
            }
        }
        
    }

    @media (max-width:375px) {
        width: 335px;
        margin-left: -13%;
        
        .collapse-button-logement {
        width: 335px;
        height: 30px;
        margin-left: 21%;
        margin-bottom: 0%;
        font-size: 13px;
        font-weight: 700;
        padding-left: 5%;
        }

        .collapse-content-logement {
            margin-left: 21%;
            width: 94%;

            p {
                font-size: 14px;
            }
        }
    }
}
