.collapse-container-logement {

    .collapse-button-logement {
        background-color: #FF6060;
        color: white;
        border: none;
        width: 555px;
        height: 52px;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        padding-left: 15px;
        padding-right: 10px;

        svg {
            font-size: 26px;
        }

        &:focus {
            outline: none;
        }

        .arrow {
            transition: transform 0.3s ease;
        }

        .arrow-up {
            transform: rotate(-180deg);
        }
    }

    .collapse-content-logement {
        background-color: rgba(246, 246, 246);
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        padding: 5px;
        width: 543px;

        p {
            font-size: 20px;
            font-weight: 400;
        }

        ul {
            li {
            font-size: 20px;
            font-weight: 400;
            }
        }
        
    }

    @media (max-width:375px) {
        width: 335px;
        
        .collapse-button-logement {
        width: 335px;
        height: 30px;
        font-size: 13px;
        font-weight: 700;
        }

        .collapse-content-logement {
            width: 335px;

            p {
                font-size: 14px;
                padding: 25px 28px 20px 20px;
            }

            ul {
                li {
                    font-size: 14px;
                }
            }
        }
    }
}
