.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1em;
    overflow: hidden;
    height: 340px;
    
    @media (max-width: 375px) {
        width: 335px;       
        height: 255px;      
        opacity: 1;    
        margin: 0% 0% 0% 9%;  
    }
    
}

.card-image {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}

.card h2 {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: white; 
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
    margin: 0;
    padding: 0;
}
