.values-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapse-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .collapse-button {
        background-color: #FF6060;
        color: white;
        padding: 10px 20px;
        border: none;
        width: 75%;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 400;
        
        margin-bottom: 2%;

        &:focus {
            outline: none;
        }
        .arrow {
            transition: transform 0.3s ease;
            height: 32px;
            width: 32px;
        }
        .arrow-up {
            transform: rotate(-180deg);
        }
    }

    .collapse-content {
        background-color: #F6F6F673;
        border-radius: 0.5em;
        width: 70%;
        padding: 10px;
        
    }

    @media (max-width:375px) {
        // width: 325px;
        
        
        .collapse-button{
            
        
        }

        .collapse-content{
            
        }
    }
}


