.collapse-container {
    .collapse-button {
        background-color: #FF6060;
        color: white;
        padding: 10px 20px;
        border: none;
        width: 1023px;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px;
        margin: 0% 0% 1.5% 20%;

        &:focus {
            outline: none;
        }

        .arrow {
            transition: transform 0.3s ease;
        }

        .arrow-up {
            transform: rotate(-180deg);
        }
    }

    .collapse-content {
        padding: 10px;
        background-color: #F6F6F673;
        border-radius: 0.5em;
        margin: -2% 0% 1% 70%;
        width: 97%;
        
    }

    @media (max-width:375px) {
        width: 335px;
        margin-left: -13%;
        
        .collapse-button{
        width: 335px;
        margin-left: 21%;
        margin-bottom: 3%;
        }

        .collapse-content{
            margin-left: 21%;
            
            width: 94%;
        }
    }
}
