/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 10px;
  margin-left: 20px;


  .logo {
    img {
      width: 150px;
      height: auto;
    }
  }



  // MOBILE

  @media (max-width: 375px) {
    

    .logo {
      img {
        width: 120px;
        height: 46.88;
      }
    }

  }

  @media (max-width:273px) {
    .logo {
      img {
        width: 70px;
      }
    }
  }
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 428px) {
  .nav-link {
    font-size: 15px;
  }
}

@media (max-width: 375px) {

  .navigation ul {
    gap: 26px
  }

  .nav-link {
    font-size: 12px;
    line-height: 17.11px;
  }

}