.gallery-container {
    background-color: #F6F6F6; 
    width: 95%; 
    margin: 0 auto; 
    border-radius: 1em;
    margin-bottom: 50px;

    @media (max-width: 375px) {
        padding: 0;        
        margin: 0; 
        background: none; 
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
    padding: 20px;

    
    @media (max-width: 375px) {
        grid-template-columns: 1fr;
        margin: 0% 0% 0% -9.5%;
    }
}

