.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

.error-code {
    font-size: 288px;
    font-weight: 700;
    color: #FF6060; 
    margin: 0% 0% 7% 0%;

    @media (max-width:375px) {
        width: 198px;
        height: 98px;
        font-size: 96px;
        line-height: 136.9px;
        margin-bottom: 30%;
        margin-top: 15%;
    }
}

.error-message {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-top: -40px; 
    
    @media (max-width:375px) {
        width: 260px;
        height: 52px;
        font-size: 18px;
        line-height: 25.67px;
        align-items: center;
    }
}

.home-link {
    margin-top: 50px;
    padding-bottom: 7%;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #FF6060;
    }

    @media (max-width:375px) {
        width: 221px;
        height: 20px;
        font-size: 14px;
        line-height: 19.96px;
        margin-bottom: 13%;
    }
}
