.footer {
    height: 175px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 24px;

    @media (max-width:375px) {
      font-size: 12px;
      width: 133.59px;
      padding-top: 4%;
    }
  }